---
layout : default
---
<div itemscope itemtype="#">
    {% for post in site.posts %}
        <article class="post" itemprop="blogPost" itemscope itemtype="#">
            <div class="meta">
                <div class="date">
                    <time  data-updated="true" itemprop="datePublished">{{ post.date | date : "%Y-%m-%d" }}</time>
                </div>
                <div class="tags">
                    {% for tag in post.tags %}
                        <a class='category' href='#'>{{ tag }}</a>
                    {% endfor %}
                    {{ site.tags.TAG }}
                </div>

                <span class="comments"><a href="#">Comments</a></span>
            </div>
            <h1 class="title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h1>

            <div class="entry-content" itemprop="articleBody">
                {{ post.excerpt }}
                {% if post.continue %}
                    <a href="{{ site.baseurl }}{{ post.url }}" class="more-link">Continue Reading</a>
                {% endif %}
            </div>

        </article>
    {% endfor %}
</div>
{% if page.next %}
<nav id="pagenavi">
    <a href="{{ page.next }}" class="next">Next</a>
    <div class="center"><a href="#">Blog Archives</a></div>
</nav>
{% endif %}
